body {
  font-family: 'Slackey'; 
  background-color: #dad7cd ;
}

.list-group-item {
  position: relative;
  display: block;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.btn {
  background-color:#588187;
  border-color: #588187
  
}


.btn-primary {
  background-color: #a3b18a;
  
}

.btn:hover {
  background-color: #fdf0d5b4;
  border-color: #fdf0d5b4;
	color: #003049;
}







