:root {
  --lightBeige: #dad7cd;
  --lightTeal: #588187;
  --olive: #a3b18a;
  --lightYellow: #fdf0d5b4;
  --darkTeal: #003049;
}

body {
  font-family: 'Slackey'; 
  background-color: var(--lightBeige);
}

.list-group-item {
  position: relative;
  display: block;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.btn {
  background-color: var(--lightTeal);
  border-color: var(--lightTeal); 
}

.btn-primary {
  background-color: var(--olive);  
}

.btn:hover {
  background-color: var(--lightYellow);
  border-color: var(--lightYellow);
	color: var(--darkTeal);
}

.modal-title {
  flex: 1;
  text-align: center;
}

.modal-body {
  text-align: center;
}






